* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f5f5;
  overflow: hidden;
}
/*  Header Styling  */
header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  place-items: center;
  height: 80px;
  width: 100%;
  padding: 0px 50px;
  background-color: #2860f2;
  position: fixed;
  z-index: 1000;
}
.header__logo {
  font-size: 32px;
  font-family: "Edu VIC WA NT Beginner", cursive;
  color: white;
  text-decoration: none;
}
.header__search {
  background-color: white;
  width: 100%;
  height: 45px;
  max-width: 700px;
  border-radius: 2px;
  padding: 0px 10px;
}
.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  height: 100%;
  border: none;
  align-items: center;
}
.search-input {
  border: none;
  font-size: 15px;
  outline: none;
  height: 100%;
}
.search-icon {
  cursor: pointer;
  color: rgb(128, 122, 122);
}
.header__right-side-items {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 20px;
  color: white;
  font-size: 16px;
  font-family: roboto;
}
.header__right-side-no-user {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  align-items: baseline;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  gap: 7px;
}
.header__right-side-no-user:hover .dif {
  color: rgb(255, 254, 244);
}
.profile-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/*  Main  */
.main-section {
  z-index: 1000;
  overflow-y: scroll;
}
.main-section::-webkit-scrollbar {
  display: none;
}
.main-container {
  position: absolute;
  height: calc(100% - 80px);
  padding: 40px 280px 0px 280px;
  width: 100%;
  margin-top: 80px;
}
main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

/*  Filter aside   */

.filters-section {
  position: fixed;
  height: 88%;
  width: 290px;
  background-color: white;
  border-radius: 9px;
  padding: 30px;
}
.filters-section * {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  cursor: pointer;
}
.filters-section h3 {
  margin-top: 15px;
}
.filters-section h4 {
  text-align: center;
  background-color: rgb(150, 150, 150);
  margin-top: 12px;
  font-weight: bolder;
  padding: 7px;
  color: white;
  border-radius: 4px;
}
.filters-section li {
  margin-top: 7px;
  margin-left: 15px;
  list-style: none;
}
.sort-form {
  margin-top: 8px;
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}
.sort-by-price-input {
  cursor: auto;
  width: 100%;
  border: 1px solid black;
  padding: 5px;
}
.sort-by-seller-input {
  cursor: auto;
  border: 1px solid black;
  width: 100%;
  padding: 5px;
}
.selected-category {
  color: white;
  background-color: rgb(144, 192, 144);
  padding: 5px 5px;
  border-radius: 6px;
}
.just-there {
  width: 290px;
}

/*  Products section  */
.main-section {
  background-color: white;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, 241px);
  grid-template-rows: minmax(150px, 150px);
  justify-content: center;
  padding: 17px;
  margin: 40px 0px;
}
.category {
  height: 150px;
  width: 100%;
  display: grid;
  place-items: center;
  justify-content: center;
  gap: 10px;
}
.category-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.category-title {
  font-family: roboto;
  font-size: 16px;
  letter-spacing: 2px;
}
.products-section {
  height: 100%;
  background-color: white;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 241px);
  grid-template-rows: minmax(430px, 430px);
  justify-content: start;
  gap: 30px;
  padding: 17px;
}

.product {
  cursor: pointer;
  height: 430px;
  width: 100%;
}
.product-image-wrapper {
  height: 241px;
  width: 241px;
  background-color: #f2f5f5;
  display: grid;
  place-items: center;
  border-radius: 11px;
}
.product-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 241px;
  vertical-align: middle;
}
.product-name {
  margin-top: 24px;
  margin-left: 6px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.product-price {
  margin: 2px 6px 3px 6px;
  font-family: roboto;
  font-size: 20px;
}
.stock {
  margin: 20px 6px;
  margin-bottom: 0px;
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.on-stock {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.on-stock-number-green {
  font-family: roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(123, 196, 123);
}
.on-stock-number-red {
  font-family: roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bolder;
  color: red;
}
.sold {
  margin-left: 6px;
  font-family: Arial, roboto, Helvetica, sans-serif;
  font-size: 15px;
  color: red;
}

footer {
  background-color: gray;
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  justify-content: center;
}

.back_to_top {
  display: grid;
  grid-auto-flow: row;
}

.to_top_button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 1rem;
}

.footer_a {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 40px;
}

.footer_a a {
  font-family: roboto;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 15px;
}
.modal {
  overflow: hidden;
  display: grid;
  place-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(65, 65, 65, 0.671);
  z-index: 2000;
}
.modal-content {
  position: relative;
  min-width: 400px;
  padding: 75px;
  border-radius: 8px;
  background-color: white;
}
.modal-content h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #2860f2;
  font-size: 24px;
  font-weight: lighter;
  text-decoration: underline;
  text-align: center;
}
.close {
  position: absolute;
  margin-top: -60px;
  margin-left: 340px;
}
.success {
  margin-left: 320px;
  margin-bottom: 40px;
}
.close-cart-modal {
  position: absolute;
  margin-top: 20px;
  margin-left: 895px;
}
.no-products {
  position: absolute;
  margin-top: 16px;
  margin-left: 857px;
}
.modal-content h3 {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 24px;
  margin-top: 30px;
  color: rgb(79, 79, 79);
}
.modal-content h4 {
  margin-top: 35px;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: rgb(79, 79, 79);
}
.log-in-form {
  display: grid;
}
.log-in-form input,
.create-acc-form input {
  margin-top: 4px;
  padding: 4px;
  height: 35px;
  border-radius: 4px;
  border: 1.5px solid rgb(170, 170, 170);
}
.create-acc-form input {
  width: 100%;
}
#log-in-btn,
#create-acc-btn {
  text-align: center;
  cursor: pointer;
  height: 48px;
  margin-top: 40px;
  border: none;
  color: white;
  background-color: #2860f2;
  outline: none;
  font-size: 18px;
}
#create-acc-btn {
  min-width: 300px;
  margin-top: 20px;
}
.accept-TOS {
  margin-top: 20px;
  display: grid;
  justify-content: center;
  gap: 5px;
  grid-auto-flow: column;
  align-items: center;
}
#accept-text {
  margin-top: 0px;
  font-family: arial;
  color: #969595;
  /* font-weight: bold; */
}
#accept {
  margin-top: 0px;
  height: 15px;
  /* all: unset; */
  /* border: 1px solid black; */
}
#create-acc-error-message {
  color: rgb(247, 63, 63);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.modal-content p {
  text-align: center;
  font-family: roboto;
  font-weight: lighter;
  margin-top: 25px;
  color: rgb(170, 170, 170);
}
#create-acc-link {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: rgb(123, 121, 121);
  font-weight: bold;
  text-decoration: underline;
}
#log-in-error-message {
  color: rgb(247, 63, 63);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.cart {
  position: relative;
}
.on-cart-number {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  color: white;
  background-color: rgb(240, 40, 40);
  font-size: 12px;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bolder; */
  padding-top: 1px;
  margin-top: -33px;
  margin-left: 14px;
}

.cart-prod {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  place-items: start;
  /* height: 140px; */
  padding: 10px;
  border-bottom: 1px solid gray;
  margin-top: 20px;
  gap: 15px;
}
.cart-modal {
  display: grid;
  grid-template-columns: 1fr 300px;
  min-width: 900px;
  background-color: white;
  padding: 30px;
  gap: 30px;
  max-height: 747px;
}

.info-about-bag *,
.cart-modal-summary-info p {
  all: unset;
}
.cart-modal-summary-info {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-bottom: 10px;
}
.total {
  border-bottom: 1.5px solid rgb(174, 174, 174);
  border-top: 1.5px solid rgb(174, 174, 174);
  align-items: center;
  padding: 15px 0px;
  margin: 40px 0px;
}
.total * {
  font-weight: bold;
  color: black;
}
.sub {
  margin-top: 30px;
}
.checkout-btn {
  width: 100%;
  text-align: center;
  height: 58px;
  border-radius: 29px;
  background-color: #2860f2;
  color: white;
  font-family: Arial, "Courier New", Courier, monospace;
  /* font-weight: bolder; */
  letter-spacing: 2px;
}
.info-about-bag h3 {
  color: rgb(19, 19, 19);
  font-weight: bolder;
  font-size: 22px;
}
.cart-modal-summary-info p {
  font-family: Arial, Helvetica, sans-serif;
}
.h {
  margin: 30px 0px;
}
.info-about-bag h3,
.info-about-bag h4 {
  color: rgb(19, 19, 19);
  margin: 0px;
}
.cart-prod-image {
  height: 160px;
  width: 160px;
}
.cart-prod-infos {
  padding-top: 15px;
  display: grid;
  justify-content: start;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-columns: 100%;
  gap: 7px;
  height: 100%;
  width: 100%;
}
.cart-prod-infos * {
  margin: 0px;
}
.name-price {
  margin: 0px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  font-family: roboto;

  /* max-height: 39.47px; */
  /* text-overflow: ellipsis; */
}
.name-price strong {
  white-space: nowrap;
  max-width: 250px;
  max-height: 39.47px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-prod-price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(19, 19, 19);
}
.cart-prod-info {
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(128, 127, 127);
  height: auto;
}
.po {
  /* height: 10px; */
}
.cart-prod-remove-btn {
  border: none;
  text-decoration: underline;
  background-color: rgb(250, 148, 148);
  padding: 2px 4px;
  color: white;
}
.info-about-bag {
  padding-top: 60px;
}
.cart-prod-section {
  overflow-y: scroll;
  max-height: 603px;
  width: 550px;
}
.cart-prod-section::-webkit-scrollbar {
  display: none;
}
.cart-modal-title {
  text-align: unset;
  width: 80px;
}
.no-products-on-bag {
  margin-top: 30px;
  /* text-align: center; */
  font-family: roboto;
  font-size: 45px;
  color: rgba(128, 128, 128, 0.429);
  font-weight: bolder;
}
.profile-or-product-page {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  padding-top: 30px;
  position: relative;
}
.product-page-content {
  display: grid;
  grid-template-columns: 15% 500px 20% 20%;
  grid-template-rows: 500px;
  gap: 60px;
  /* background-color: grey; */
  width: 100%;
  height: 70%;
}
.product-other-images {
  display: grid;
  gap: 30px;
  justify-content: end;
  overflow-y: scroll;
}
.product-other-images::-webkit-scrollbar {
  display: none;
}
.product-other-image-container {
  height: 102px;
  width: 102px;
  background-color: white;
  border: 1px solid rgb(66, 66, 66);
  border-radius: 4px;
}
.product-other-image {
  border-radius: 4px;
  height: 100px;
  width: 100px;
}
.product-other-image:hover {
  outline: 2px solid orange;
}
.product-thumbnail-container {
  height: 500px;
  width: 100%;
}
.product-thumbnail {
  height: 100%;
  width: 100%;
}
.productt-infos {
  padding-top: 50px;
}
.productt-name {
  font-family: roboto;
}
.productt-seller {
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #aaaaaa;
  text-decoration: underline;
}
.productt-seller:hover {
  color: #2860f2;
  cursor: pointer;
}
.productt-price {
  font-family: roboto;
  font-size: 25px;
}
.productt-shipping {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: black;
}
.productt-desc-container {
  width: 290px;
  max-height: 110px;
  max-width: 290px;
  margin: 30px 0px;
  overflow-y: scroll;
}
.productt-desc-container::-webkit-scrollbar {
  display: none;
}
.productt-desc {
  font-family: Arial, Helvetica, sans-serif;
}
.productt-on-stock,
.productt-sold {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: red;
}
.productt-on-stock {
  margin-top: 15px;
  color: green;
}
.decision {
  padding: 10px;
  padding-top: 50px;
  display: grid;
  justify-content: space-between;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
  height: auto;
}
.productt-button-container {
  /* display: grid; */
  /* grid-auto-flow: row; */
  gap: 10px;
  display: grid;
  margin-top: 10px;
}
.productt-button {
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bolder;
  background-color: #2860f2;
  color: white;
  border: none;
  cursor: pointer;
}
.add-to-cart {
  background-color: rgb(253, 189, 70);
}
.decision-unit {
  display: grid;
  gap: 30px;
  border: 2px solid #aaaaaa6b;
  border-radius: 5px;
  padding: 15px 8px;
}
.productt-total {
  font-family: roboto;
  font-size: 20px;
  margin-top: 10px;
}
.hoxstore-title {
  margin-top: 20px;
  color: #2860f2;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.goback {
  position: absolute;
  margin-left: -33%;
  margin-top: 10px;
  display: grid;
  place-items: center;
  place-content: center;
  width: 45px;
  height: 45px;
  border: 2px solid #aaaaaaba;
  border-radius: 50%;
}
.profile-page-content {
  display: grid;
  height: 800px;
  width: 100%;
}
.profile-info-unit {
  padding: 0px 200px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  height: 250px;
  align-items: center;
}
.profile-info-unit * {
  display: inline;
}
.profile-avatar-unit {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.profile-username {
  margin-right: 650px;
  font-family: roboto;
  font-size: 40px;
}
#profile-page {
  padding: 0px 400px;
  height: 100vh;
}
.profile-page-goback {
  margin-left: -50px;
  margin-top: -2px;
}
.hoxstore-username {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40px;
  margin-top: 10px;
}
/* .cart-modal-desc {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 200px 130px 130px 130px;
  place-items: end;
}
.cart-modal-desc p {
  font-family: roboto;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(77, 77, 77);
}
.cart-prod-img {
  height: 120px;
  width: 120px;
}
.cart-prod-items-wrapper {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  width: 100%;
  justify-items: start;
  align-items: center;
  gap: 10px;
}
.cart-prod-items-wrapper h4,
.cart-prod-items-wrapper p {
  margin-top: 1px;
  margin-bottom: 15px;
  color: rgb(77, 77, 77);
  text-align: start;
} */
