* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f5f5;
  overflow: hidden;
}
/*  Header Styling  */
header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  place-items: center;
  height: 80px;
  width: 100%;
  padding: 0px 50px;
  background-color: #2860f2;
  position: fixed;
  z-index: 1000;
}
.header__logo {
  font-size: 32px;
  font-family: "Edu VIC WA NT Beginner", cursive;
  color: white;
  text-decoration: none;
}
.header__search {
  background-color: white;
  width: 100%;
  height: 45px;
  max-width: 700px;
  border-radius: 2px;
  padding: 0px 10px;
}
.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  height: 100%;
  border: none;
  align-items: center;
}
.search-input {
  border: none;
  font-size: 15px;
  outline: none;
  height: 100%;
}
.search-icon {
  cursor: pointer;
  color: rgb(128, 122, 122);
}
.header__right-side-items {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 20px;
  color: white;
  font-size: 16px;
  font-family: roboto;
}
.header__right-side-no-user {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  align-items: baseline;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  gap: 7px;
}
.header__right-side-no-user:hover .dif {
  color: rgb(255, 254, 244);
}
.profile-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/*  Main  */
.main-section {
  z-index: 1000;
  overflow-y: scroll;
}
.main-container {
  position: absolute;
  height: calc(100% - 80px);
  padding: 40px 280px 0px 280px;
  width: 100%;
  margin-top: 80px;
}
main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

/*  Filter aside   */

.filters-section {
  position: fixed;
  height: 88%;
  width: 290px;
  background-color: white;
  border-radius: 9px;
  padding: 30px;
}
.filters-section * {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  cursor: pointer;
}
.filters-section h3 {
  margin-top: 15px;
}
.filters-section h4 {
  text-align: center;
  background-color: rgb(150, 150, 150);
  margin-top: 12px;
  font-weight: bolder;
  padding: 7px;
  color: white;
  border-radius: 4px;
}
.filters-section li {
  margin-top: 7px;
  margin-left: 15px;
  list-style: none;
}
.sort-form {
  margin-top: 8px;
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}
.sort-by-price-input {
  cursor: auto;
  width: 100%;
  border: 1px solid black;
  padding: 5px;
}
.sort-by-seller-input {
  cursor: auto;
  border: 1px solid black;
  width: 100%;
  padding: 5px;
}
.selected-category {
  color: white;
  background-color: rgb(144, 192, 144);
  padding: 5px 5px;
  border-radius: 6px;
}
.just-there {
  width: 290px;
}

/*  Products section  */
.main-section {
  background-color: white;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, 241px);
  grid-template-rows: minmax(150px, 150px);
  justify-content: center;
  padding: 17px;
  margin: 40px 0px;
}
.category {
  height: 150px;
  width: 100%;
  display: grid;
  place-items: center;
  justify-content: center;
  gap: 10px;
}
.category-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.category-title {
  font-family: roboto;
  font-size: 16px;
  letter-spacing: 2px;
}
.products-section {
  height: 100%;
  background-color: white;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 241px);
  grid-template-rows: minmax(430px, 430px);
  justify-content: start;
  gap: 30px;
  padding: 17px;
}

.product {
  cursor: pointer;
  height: 430px;
  width: 100%;
}
.product-image-wrapper {
  height: 241px;
  width: 241px;
  background-color: #f2f5f5;
  display: grid;
  place-items: center;
  border-radius: 11px;
}
.product-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 241px;
  vertical-align: middle;
}
.product-name {
  margin-top: 24px;
  margin-left: 6px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.product-price {
  margin: 2px 6px 3px 6px;
  font-family: roboto;
  font-size: 20px;
}
.stock {
  margin: 20px 6px;
  margin-bottom: 0px;
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.on-stock {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.on-stock-number-green {
  font-family: roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(123, 196, 123);
}
.on-stock-number-red {
  font-family: roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bolder;
  color: red;
}
.sold {
  margin-left: 6px;
  font-family: Arial, roboto, Helvetica, sans-serif;
  font-size: 15px;
  color: red;
}

footer {
  background-color: gray;
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  justify-content: center;
  position: relative;
}

.back_to_top {
  display: grid;
  grid-auto-flow: row;
}

.to_top_button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 1rem;
}

.footer_a {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 40px;
}

.footer_a a {
  font-family: roboto;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 15px;
}
.modal {
  overflow: hidden;
  display: grid;
  place-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(65, 65, 65, 0.671);
  z-index: 2000;
}
.modal-content {
  position: relative;
  min-width: 400px;
  padding: 75px;
  border-radius: 8px;
  background-color: white;
}
.modal-content h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #2860f2;
  font-size: 24px;
  font-weight: lighter;
  text-decoration: underline;
  text-align: center;
}
.close {
  position: absolute;
  margin-top: -60px;
  margin-left: 340px;
}
.modal-content h3 {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 24px;
  margin-top: 30px;
  color: rgb(79, 79, 79);
}
.modal-content h4 {
  margin-top: 35px;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: rgb(79, 79, 79);
}
.log-in-form {
  display: grid;
}
.log-in-form input {
  margin-top: 4px;
  padding: 4px;
  height: 35px;
  border-radius: 4px;
  border: 1.5px solid rgb(170, 170, 170);
}
#log-in-btn {
  text-align: center;
  cursor: pointer;
  height: 48px;
  margin-top: 40px;
  border: none;
  color: white;
  background-color: #2860f2;
  outline: none;
  font-size: 18px;
}
.modal-content p {
  text-align: center;
  font-family: roboto;
  font-weight: lighter;
  margin-top: 25px;
  color: rgb(170, 170, 170);
}
#create-acc-link {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: rgb(123, 121, 121);
  font-weight: bold;
  text-decoration: underline;
}
#log-in-error-message {
  color: rgb(247, 63, 63);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
